.Title {
  font-weight: bold;
}
.Title .header{
  display: flex;
  align-items: center;
}

h1 {
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
}

.change {
  display: flex;
  flex-direction: column;
}

.timing {
  color: darkgray;
}
